html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.fc_header {
  display: flex;
  align-items: center;
  text-align: center;
  padding: 0.5rem 2rem;
  background-color: #000000;
  min-height: 4rem;
  width: 100%;
  border-bottom: 2px solid #e6e6e6;
}

.fc_header_logo {
  flex: 1;
  display: flex;
  align-items: center;
}

.fc_header_logo>h2 {
  color: rgb(255, 255, 255);
  margin: 0;
}

.header_img {
  width: 10rem;
  height: 5rem;
  object-fit: contain;
  margin-bottom: 0.1rem;
}

.fc_header_menu {
  flex: 3;
}

.hamburgermenu {
  display: none;
}

.fc_header_menu_item {
  display: flex;
  align-items: left;
  justify-content: space-around;
}

.fc_header_menu_item>a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 1.2rem;
  font-weight: 600;
  padding: 0.8rem;
  position: relative;
  z-index: 0;
  cursor: pointer;
}

.fc_header_menu_item>a:hover {
  color: rgb(255, 255, 255);
  background-color: transparent;
}

.topBotomBordersOut>a:before,
.topBotomBordersOut>a:after {
  position: absolute;
  left: 0px;
  width: 100%;
  height: 0.125rem;
  background: rgb(255, 255, 255);
  content: "";
  opacity: 0;
  transition: all 0.3s;
}

.topBotomBordersOut>a:before {
  top: 0px;
  transform: translateY(10px);
}

.topBotomBordersOut>a:after {
  bottom: 0px;
  transform: translateY(-10px);
}

.topBotomBordersOut>a:hover:before,
.topBotomBordersOut>a:hover:after {
  opacity: 1;
  transform: translateY(0px);
}


.sc-eKszNL.hTwLpN,
.sc-olbas.uhQpk {
  background-color: rgb(36, 43, 184);

}

.sc-jfmDQi.byjoRM {
  background-color: rgb(201, 216, 253);
}

.sc-hiMGwR.lcyeQD {
  color: white;
}

/* --------Componentes Start---------- */
.button,
.button2 {
  border: none;
  padding: 0.8rem 1.6rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  font-weight: 500;
  margin: 0.5rem 0.4rem;
  cursor: pointer;
  border-radius: 6rem;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}


.button2 {
  border-radius: 0.6rem;
  width: 100%;
}

.heading {
  font-size: 3.3rem;
  font-weight: 650;
  color: #ffffff;
  margin-bottom: 2rem;
  text-shadow: 0px 0px 12px rgb(255 255 255 / 30%);
}

.heading2 {
  font-size: 2.2rem;
  font-weight: 600;
  color: #ffffff;
  margin-bottom: 2rem;
}

.button3 {
  background-color: transparent;
  background-image: linear-gradient(110deg, #23AEE340 0%, #FD3DCE40 100%);
  border-style: solid;
  border-width: 1px px 1px 1px 1px;
  border-color: #23AEE3;
  border-radius: 8px 8px 8px 8px;
  box-shadow: 6px 6px 19px 0px rgb(255 134 249 / 50%) inset;

}

.withdraw_proceed {
  background-color: #1f40fd;
  color: white;
  font-weight: 600;
}

/* ------------Componentes End------------ */


/* ---- Index Page Start -------- */




.home_div {
  position: relative;
  padding: 0 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

  /* background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite; */

}

/* @keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
} */

.home_div::before {
  content: "";
  background-image: url('../public/gradientw.jpg');
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  /* opacity: 0.8; */
}

.home_start_div {
  position: relative;
  flex: 1;
  padding: 12rem 1rem;
  margin-right: 2rem;
  /* height: 80vh; */
  background-color: linear-gradient(180deg, rgba(255, 255, 255, 0.35), rgba(255, 255, 255, 0));
  ;
}

.home_heading {
  margin-top: 3rem;
}

.description {
  color: rgb(237, 237, 237);
  font-size: 1.3rem;
  margin: 2rem 0 5rem 0;
}

.home_start_button {
  display: flex;
  align-items: center;

}


.home_image_div {
  flex: 1.2;
  margin-left: 2rem;
}

.view_market,
.upload_item {
  color: rgba(255, 255, 255, 0.8);
  font-size: 1.3rem;
  font-weight: 600;
  padding: 0.8rem 2rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.upload_item {
  margin-left: 2rem;
}

.view_market:hover,
.upload_item:hover {
  color: rgba(255, 255, 255, 1);
  transform: scale(1.1);
  border-color: #06aef0;
}

.marketOverview {
  background-color: rgb(243, 248, 255);
  padding: 3rem 5rem;
  position: relative;
  background-color: #111111;
  background-image: url('../public/gradient3.jpg');
  background-size: cover;
}

.nftsGrid {
  display: grid;
  grid-template-columns: auto auto auto;
  align-items: center;

}

/* ---- Index Page End -------- */



/* ---- Nft Card Start -------- */
.card>p.ownedBy {
  font-size: 1rem;
  color: #183b56;
  font-weight: 600;
}

.card_main_div {
  font-size: 18px;
  margin: 2rem 3rem;
}

.card {
  align-self: center;
  background: #ffffffef;
  box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.0952917);
  border-radius: 15px;
  width: 350px;
  max-height: 640px;
  padding: 25px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  transition: all 0.3s ease;
}



.card:hover {
  transform: scale(1.06);
}

.card p {
  padding-right: 10px;
  font-size: 20px;
}

.card_body_div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.thumbnail {
  display: flex;
  align-items: center;
  justify-content: center;
  /* box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px; */
  border-radius: 0.5rem;

}

.thumbnail img {
  border-radius: 20px 20px 0px 0px;
  border-radius: 0.5rem;

}


.card-body>h1 {
  font-style: normal;
  color: #000000;
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 0;
}

.details {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
}

.type p {
  color: grey;
  font-style: normal;
  font-weight: 550;
  font-size: 1rem;
  line-height: 20px;
}

.type .icon {
  margin-right: 4px;
}

/* p {
  color: #8BACD9;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 26px;
  text-align: left;
} */

.type {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.time p {
  color: #8BACD9;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}

.type>p.Nftprice {
  color: rgb(102, 204, 102);
}

.creator {
  padding-top: 20px;
  border-top: 2px solid #cecece;
  display: flex;
  justify-content: center;
}



.placebid {
  background-color: #566ffe;
  color: white;
  padding: 0.6rem 1rem;
  transition: all 0.3s ease-in-out;
}

.placebid:hover {
  background-color: #1f40fd;
  transform: scale(1.1);

}

.auction_card_counter {
  font-size: 1.2rem;
  font-weight: 600;
  text-align: center;
}

.nft_listing_auction_button_div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Auction_button,
.Listing_button {
  background-color: #566ffe;
  color: white;
  border-radius: 0.5rem;
  font-size: 1.2rem;
  font-weight: 500;
  transition: all 0.3s ease-in-out;
}

.Auction_button:hover,
.Listing_button:hover {
  background-color: #1f40fd;
  transform: scale(1.1);
}

/* ---- Nft Card End -------- */


/* ---------------Create NFT Start----------------- */
.create_Nft_div {

  padding: 3rem 4rem;
  background-image: url('../public/gradient3.jpg');
  min-height: 90vh;


}

.create_heading {
  font-weight: 650;
}

.create_upload_detail_div {
  margin: 4rem 0;
  background-color: white;
  border-radius: 0.6rem;
  padding: 3rem 2rem;
  display: flex;
  align-items: center;

}

.uploadItem_div {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  border: 2px solid rgb(229, 229, 229);
  border-radius: 0.6rem;
  padding: 6rem 2rem;
  background-color: #f9f9f9;

}

.uploadItem_div>label>input {
  display: none;
}

.drag_drop_area>h2 {
  font-size: 1.2rem;
  font-weight: 500;
}

.drag_drop_area>p {
  color: grey;
}

.browseButton {
  border: none;
  border-radius: 6rem;
  box-shadow: rgba(0, 0, 0, 0.238) 0px 1px 4px;
  padding: 0.8rem 1.3rem;
  font-size: 1rem;
  background-color: white;
  cursor: pointer;
}

.drag_drop_area>.browseButton {
  color: #000000;

}

.uploadItem_details_div {
  flex: 1;
  padding: 1rem 2rem;
}

.uploadItem_details_div>.itemUpload_form {
  display: flex;
  flex-direction: column;
}

.itemUpload_form>label {
  font-size: 1.2rem;
  font-weight: 400;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

.itemUpload_form>input {
  border: 2px solid #f4f8fc;
  border-radius: 0.6rem;
  padding: 1rem;
  font-size: 1rem;
  width: 100%;
  margin-bottom: 1rem;
  background-color: #e8f2fd;
  color: #494949;
}

.itemUpload_form>input:focus {
  outline: none;
  border: 2px solid rgb(230, 233, 234);
  background-color: white;
}

.itemUpload_form>input::placeholder {
  color: rgb(162, 162, 162);
}

.createItem {
  background-color: #566ffe;
  color: white;
  padding: 1rem 1.5rem;
  font-size: 1.2rem;
  cursor: pointer;
  z-index: 0;
  margin-top: 2rem;
}

.createItem:hover {
  background-color: #3250fc;

}

/* ---------------Create NFT End----------------- */


/* ---------------Marketplace Start----------------- */
.marketplace_main_div {
  padding: 3rem 4rem;
  background-color: #353535;
  background-image: url('../public/gradientw.jpg');
  min-height: 100vh;
}

.marketplace_heading {
  text-align: center;
  margin-bottom: 3rem;
}

.marketplace_artwork_heading {
  margin-left: 3rem;
}

/* ---------------Marketplace End----------------- */

/* ---------------Profile Start----------------- */


.profile_details {
  display: flex;
  align-items: center;
  justify-content: left;
  padding: 1rem 4rem;
  position: relative;
  background-color: #000000;

}

.profile_image_div {
  background-color: #cfcfcf;
  margin-right: 2rem;
  /* padding: 0.5rem; */
  border-radius: 50%;
}

.profile_image_div img {
  border-radius: 50%;
}

.avatar_i {
  border-radius: 50%;
}

.profile_nfts {
  background-image: url('../public/gradientw.jpg');
  background-size: cover;
  padding: 1rem 4rem;
  min-height: 80vh;
}

.profile_nft_grid {
  display: grid;
  grid-template-columns: auto auto auto;
  align-items: center;
}

.noNft_div {
  text-align: center;
  margin-top: 5rem;
}

.noNft {
  color: white;
  font-size: 1.5rem;
  font-weight: 600;
}

.noNft_div>a {
  color: #566ffe;
  font-size: 1.5rem;
  font-weight: 600;
  text-decoration: underline;
}

.withdrawalProceeds {
  position: absolute;
  right: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.withdraw_proceed {
  margin: 0 2rem;
}

/* ---------------Profile End----------------- */